body {
    /* min-height: 100vh; */
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #0D1117;

}

.hide {
    display: none;
}

html {
    height: 100%;
    padding: 0;
    margin: 0;
}

.menu {
    width: 100%;
    height: 100%;
}

.title-wrapper {
    display: grid;
    height: 30%;
    color: #E6EDE5;
    font-family: 'Asap', sans-serif;
    font-size: 1.25rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    height: 80%;
    display: flex;
    justify-content: center;
}

.player-data {
    height: clamp(232px, 37vh, 270px);
    width: 70vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
}

.player-data>input,
.player-data>button {
    box-sizing: border-box;
    margin-top: 8%;
    border-radius: 15px;
}

.player-data>input {
    color: #E6EDE5;
    font-size: min(1rem + 2vw, 1.25rem);
    text-indent: 15px;
    caret-color: #E6EDE5;
    background-color: #2b3544b0;
    box-shadow: rgba(57, 56, 56, 0.305) 1.95px 1.95px 2.6px;
}

.player-data>button {
    background: linear-gradient(to right, #2b3544b0 50%, transparent 0);
    background-size: 200% 100%;
    box-shadow: 0 5px rgb(183, 172, 172);
    color: #E6EDE5;
    border-color: rgb(88, 81, 71);
    background-position: right;
    transition: background-position 0.3s;
}

.player-data>button>div {
    transition: transform 1s;
    font-size: 1.5rem;
    font-weight: 400;
}

.player-data>button:hover>div {
    transform: scale(1.4);

}

.player-data>button:hover {
    background-position: left;
}

.game {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.board-wrapper{
    position: relative;
    box-sizing: border-box;
    width: min(80%, 314px);
    aspect-ratio: 1 / 1;
}
.board {
    display: grid;
    position: relative;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}


.board>div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    box-sizing: border-box;
    /* background-color: white; */
}

.board>div>div {
    border-bottom: solid 5px red;
    border-right: solid 5px red;
    box-sizing: border-box;
}

.board>div:nth-last-child(1)>div {
    border-bottom: none;
}

.board>div> :nth-last-child(1) {
    border-right: none;
}
.board > div > div{
    display: flex;
    justify-content: center;
    align-items: center;
    color:aqua;
    height: 100%;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    font-size: 4rem;
    /* text-align: center; */
    /* vertical-align: center; */
}
.x::before ,.x::after{
    position: absolute;
    width: 80%;
    height: 10%;
    top: 50%;
    left: 50%;
    background-color: aqua;
}
.x::before{
    content: '';
    transform: translate(-50%,-50%) rotate(-45deg);
}
.x::after{
    content: '';
    transform: translate(-50%,-50%) rotate(45deg) ;
}
.o::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    aspect-ratio: 1/1;
    border-color: aquamarine;
    border: solid 5px;
    border-radius: 100%; 
}
.score{
    margin-top: 20px;
    display : grid;
    width: min(80%,314px);
    color:wheat;
    justify-content: space-around;
    grid-template-columns: auto auto;
}
.score  div {
    font-size: min(1rem + 2vw,1.5rem);
    text-align: center;
}
.line{
    position:absolute;
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    z-index: 1;
    pointer-events: none;
    overflow: visible;
}
.line > * {
    box-sizing: border-box;
}